
.services-container {
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}

.service-card {
    border: none;
    background-color: #f8f9fa;
    transition: transform 0.3s ease;
    border-radius: 12px;
    font-family: 'Lato';
}

.service-card:hover {
    transform: translateY(-5px);
    background-color: #fff;
}

.icon {
    color: #444;
}
.card-title {
    font-weight: 600;
    font-size: 1.2rem;
    color: #111;
}

.card-text {
    color: #555;
    font-size: 0.95rem;
}
